.menu-btn {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  top: -29px;
  bottom: 20px;
  left: 130px;
  z-index: 2;
}
.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  width: 27px;
  height: 2px;
  background: #808080;
  border-radius: 5px;
  box-shadow: 0 1px 2px #adadad;
  transition: all 0.2s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
}
.menu-btn__burger::before {
  transform: translateY(-9px);
}
.menu-btn__burger::after {
  transform: translateY(9px);
}

/* Animation */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  background: #fff;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  background: #fff;
  box-shadow: none;
}
@media (max-width: 750px) {
  .menu-btn {
    display: flex;
  }
}
@media (max-width: 540px) {
  .menu-btn {
    display: flex;
    left: 0px;
  }
}
@media (max-width: 380px) {
  .menu-btn {
    display: flex !important;
    left: -30px;
  }
}
@media (max-width: 314px) {
  .menu-btn {
    display: flex !important;
    width: 20px;
    height: 20px;
    top: -17px;
    left: -15px;
  }
  .menu-btn__burger,
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    width: 18px;
    height: 2px;
  }
  .menu-btn__burger::before {
    transform: translateY(-6px);
  }
  .menu-btn__burger::after {
    transform: translateY(6px);
  }
}
